################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmadinaModeller/AmadinaOCCT/x64/Debug
