################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmadinaModeller/AmadinaOCCT/x64/Debug
/AmadinaModeller/.vs
/projects/amadina.workspace
/projects/amadina.workspace.layout
/projects/wx_binding/wx_binding.cbp
/projects/wx_binding/wx_binding.depend
/projects/wx_binding/wx_binding.layout
/projects/Amadina3D/obj/Debug/amadina3d
/build
/ConsoleInterpreter/bin/Debug
/AmadinaModeller/wxOcctView/x64/Debug
/AmadinaModeller/wxOcctView/wxOcctView.vcxproj
/AmadinaModeller/wxOcctView/wxOcctView.vcxproj.filters
/AmadinaModeller/wxOcctView/wxOcctView.vcxproj.user
/AmadinaModeller/x64/Debug
/AmadinaModeller/AmadinaModeller/x64
/AmadinaModeller/AmadinaObjects/x64
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.vcxproj
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.vcxproj.filters
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.vcxproj.user
/AmadinaModeller/Tests/x64/Debug
/AmadinaModeller/AmadinaModeller.sln
/AmadinaModeller/CppProperties.json
/AmadinaModeller/AmadinaObjects/AmadinaObjects.vcxproj
/AmadinaModeller/AmadinaObjects/AmadinaObjects.vcxproj.filters
/AmadinaModeller/AmadinaObjects/AmadinaObjects.vcxproj.user
/AmadinaModeller/AmadinaModeller/AmadinaModeller.vcxproj
/AmadinaModeller/AmadinaModeller/AmadinaModeller.vcxproj.filters
/AmadinaModeller/AmadinaModeller/AmadinaModeller.vcxproj.user
/projects/Amadina3D/bin/Debug
