################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmadinaModeller/AmadinaOCCT/x64/Debug
/AmadinaModeller/.vs
/projects/amadina.workspace
/projects/amadina.workspace.layout
/projects/wx_binding/wx_binding.cbp
/projects/wx_binding/wx_binding.depend
/projects/wx_binding/wx_binding.layout
/projects/Amadina3D/obj/Debug/amadina3d
/build
/ConsoleInterpreter/bin/Debug
/AmadinaModeller/wxOcctView/x64/Debug
/AmadinaModeller/wxOcctView/wxOcctView.vcxproj
/AmadinaModeller/wxOcctView/wxOcctView.vcxproj.filters
/AmadinaModeller/wxOcctView/wxOcctView.vcxproj.user
/AmadinaModeller/x64/Debug
/AmadinaModeller/AmadinaModeller/x64
/AmadinaModeller/AmadinaObjects/x64
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.vcxproj
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.vcxproj.filters
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.vcxproj.user
/AmadinaModeller/Tests/x64/Debug
/AmadinaModeller/AmadinaModeller.sln
/AmadinaModeller/CppProperties.json
/AmadinaModeller/AmadinaObjects/AmadinaObjects.vcxproj
/AmadinaModeller/AmadinaObjects/AmadinaObjects.vcxproj.filters
/AmadinaModeller/AmadinaObjects/AmadinaObjects.vcxproj.user
/AmadinaModeller/AmadinaModeller/AmadinaModeller.vcxproj
/AmadinaModeller/AmadinaModeller/AmadinaModeller.vcxproj.filters
/AmadinaModeller/AmadinaModeller/AmadinaModeller.vcxproj.user
/projects/Amadina3D/bin/Debug
/AmadinaModeller/Tests/Tests.vcxproj
/AmadinaModeller/Tests/Tests.vcxproj.filters
/AmadinaModeller/Tests/Tests.vcxproj.user
/ConsoleInterpreter/obj/Debug
*.aps
/projects/amadina/amadina.cbp
/projects/amadina/amadina.depend
/projects/amadina/amadina.layout
/projects/Amadina3D/Amadina3D.cbp
/projects/Amadina3D/Amadina3D.depend
/projects/Amadina3D/Amadina3D.layout
/projects/kernel/kernel.cbp
/projects/kernel/kernel.depend
/projects/kernel/kernel.layout
/AmadinaModeller/build
/tmp/AmadinaModeller
/AmadinaModeller/AmadinaCommand/.vs
/AmadinaModeller/AmadinaCommand/CMakeFiles
/AmadinaModeller/AmadinaCommand/Debug
/AmadinaModeller/AmadinaCommand/parser.dir/Debug
/AmadinaModeller/AmadinaCommand/x64/Debug/ZERO_CHECK
/AmadinaModeller/AmadinaCommand/ALL_BUILD.vcxproj
/AmadinaModeller/AmadinaCommand/ALL_BUILD.vcxproj.filters
/AmadinaModeller/AmadinaCommand/ALL_BUILD.vcxproj.user
/AmadinaModeller/AmadinaCommand/AmadinaCommand.sln
/AmadinaModeller/AmadinaCommand/CMakeCache.txt
/AmadinaModeller/AmadinaCommand/cmake_install.cmake
/AmadinaModeller/AmadinaCommand/parser.vcxproj
/AmadinaModeller/AmadinaCommand/parser.vcxproj.filters
/AmadinaModeller/AmadinaCommand/parser.vcxproj.user
/AmadinaModeller/AmadinaCommand/ZERO_CHECK.vcxproj
/AmadinaModeller/AmadinaCommand/ZERO_CHECK.vcxproj.filters
/AmadinaModeller/AmadinaCommand/ZERO_CHECK.vcxproj.user
/AmadinaModeller/AmadinaCommand/amadina_command_0.1.0.dir/Debug
/AmadinaModeller/AmadinaCommand/amadina_command_0.1.0.vcxproj
/AmadinaModeller/AmadinaCommand/amadina_command_0.1.0.vcxproj.filters
/AmadinaModeller/AmadinaCommand/amadina_command_0.1.0.vcxproj.user
/AmadinaModeller/AmadinaModeller/Amadina3D_0.1.0.dir/Debug
/AmadinaModeller/AmadinaModeller/CMakeFiles
/AmadinaModeller/AmadinaModeller/Amadina3D_0.1.0.vcxproj
/AmadinaModeller/AmadinaModeller/Amadina3D_0.1.0.vcxproj.filters
/AmadinaModeller/AmadinaModeller/Amadina3D_0.1.0.vcxproj.user
/AmadinaModeller/AmadinaModeller/cmake_install.cmake
/AmadinaModeller/AmadinaObjects/amadina_objects_0.1.0.dir/Debug
/AmadinaModeller/AmadinaObjects/CMakeFiles
/AmadinaModeller/AmadinaObjects/ALL_BUILD.vcxproj
/AmadinaModeller/AmadinaObjects/ALL_BUILD.vcxproj.filters
/AmadinaModeller/AmadinaObjects/AmadinaObjects.sln
/AmadinaModeller/AmadinaObjects/amadina_objects_0.1.0.vcxproj
/AmadinaModeller/AmadinaObjects/amadina_objects_0.1.0.vcxproj.filters
/AmadinaModeller/AmadinaObjects/amadina_objects_0.1.0.vcxproj.user
/AmadinaModeller/AmadinaObjects/cmake_install.cmake
/AmadinaModeller/AmadinaOCCT/amadina_occt_0.1.0.dir/Debug
/AmadinaModeller/AmadinaOCCT/CMakeFiles
/AmadinaModeller/AmadinaOCCT/ALL_BUILD.vcxproj
/AmadinaModeller/AmadinaOCCT/ALL_BUILD.vcxproj.filters
/AmadinaModeller/AmadinaOCCT/AmadinaOCCT.sln
/AmadinaModeller/AmadinaOCCT/amadina_occt_0.1.0.vcxproj
/AmadinaModeller/AmadinaOCCT/amadina_occt_0.1.0.vcxproj.filters
/AmadinaModeller/AmadinaOCCT/amadina_occt_0.1.0.vcxproj.user
/AmadinaModeller/AmadinaOCCT/cmake_install.cmake
/AmadinaModeller/AmadinaWxOcct/amadina_wx_occt_0.1.0.dir/Debug
/AmadinaModeller/AmadinaWxOcct/CMakeFiles
/AmadinaModeller/AmadinaWxOcct/ALL_BUILD.vcxproj
/AmadinaModeller/AmadinaWxOcct/ALL_BUILD.vcxproj.filters
/AmadinaModeller/AmadinaWxOcct/AmadinaWxOcct.sln
/AmadinaModeller/AmadinaWxOcct/amadina_wx_occt_0.1.0.vcxproj
/AmadinaModeller/AmadinaWxOcct/amadina_wx_occt_0.1.0.vcxproj.filters
/AmadinaModeller/AmadinaWxOcct/amadina_wx_occt_0.1.0.vcxproj.user
/AmadinaModeller/AmadinaWxOcct/cmake_install.cmake
/AmadinaModeller/CMakeFiles
/AmadinaModeller/ALL_BUILD.vcxproj
/AmadinaModeller/ALL_BUILD.vcxproj.filters
/AmadinaModeller/ALL_BUILD.vcxproj.user
/AmadinaModeller/CMakeCache.txt
/AmadinaModeller/cmake_install.cmake
/AmadinaModeller/win_fetch_dlls.vcxproj
/AmadinaModeller/win_fetch_dlls.vcxproj.filters
/AmadinaModeller/win_fetch_dlls.vcxproj.user
/AmadinaModeller/win_test.vcxproj
/AmadinaModeller/win_test.vcxproj.filters
/AmadinaModeller/ZERO_CHECK.vcxproj
/AmadinaModeller/ZERO_CHECK.vcxproj.filters
/AmadinaModeller/ZERO_CHECK.vcxproj.user
